.App {
}

h2 {
  margin-left: 0.5rem;
}

ul {
  list-style: none;
  padding: 0.5em;
}

li {
  background-color: rebeccapurple;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

li.empty {
  background-color: transparent;
  border: 1px solid rebeccapurple;
  color: black;
}

li + li {
  margin-top: 0.5em;
}

li > span:first-child {
  font-size: 0.75em;
  margin-bottom: 0.5em;
}
