.app {
  max-height: 100vh;
}

h2 {
  margin: 1rem;
}

ul {
  padding: 0.5em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

ul::after {
  content: "";
  flex: auto;
}

li {
  margin: 0.5em;
}

label {
  cursor: pointer;
}

label > span {
  display: block;
  padding: 1em;
  width: 8em;
  height: 8em;
  background-color: #eee;
  border: 2px solid transparent;
  border-radius: 4px;
  font-variant: small-caps;
  background-size: 100%;
  background-position: center 3em;
  background-repeat: no-repeat;
}

input[type="radio"] {
  display: none;
}

input:checked + * {
  border-color: rebeccapurple;
}

.buttons {
  flex-shrink: 0;
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: rebeccapurple;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.75em 1em;
  font-size: inherit;
  font-variant: small-caps;
}

.buttons button:first-child::after {
  content: "";
  flex: auto;
}

.buttons button[disabled] {
  background-color: #eee;
  color: black;
}

.selection {
  margin: 0 1em;
}
